{#
/**
 * @file
 * Theme override to display a single component.
 *
 * footer area template
 */
#}

  <footer id="whole-footer">
    <div class="footer-top" style="background: #F2F2F2; overflow: hidden;">
      <div class="container sponsors">
		    {{ page.footer_top }}
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
		    {{ page. footer_bottom }}
        <div class="footer-social">{{ page.footer_social }}</div>
      </div>
    </div>
  </footer>

