{#
/**
 * @file
 * Default theme implementation to display notification messages.
 *
 * Available variables:
 * - count: The count of notification messages.
 * - messages: An array of the notification messages entities.
 */
#}

<div class="notification-messages">
  {{ messages }}
</div>
